.angle1 {
    background-color: var(--second-color);
}
.angle1, .angle1:after {
    width: 100%;
}

.angle {
    position: relative;
}

.angle1:after {
    background-color: var(--main-color);
    clip-path: polygon(100% 100%, 100% 0, 0 0);
}

.angle1, .angle1:after {
    height: 150px;
    width: 100%;
}

.angle:after {
    content: '';
    position: absolute;
}

/**/

.angle3{
    position: relative;
}

.angle2 {
    background-color: var(--main-color);
}

.angle2, .angle2:after {
    height: 80px;
    width: 100%;
}

.angle2:after {
    background-color: var(--second-color);
    clip-path: polygon(0 0, 100% 0, 45% 100%);
}

.angle2, .angle2:after {
    height: 85px;
    width: 100%;
}
.angle {
    position: relative;
}
.angle3:after {
    content: '';
    position: absolute;
}

.angle5 {
    background-color: var(--second-color);
}
.angle5, .angle5:after {
    height: 40px;
    width: 100%;
}

.angle4 {
    position: relative;
}

.angle5:after {
    background-color: var(--main-color);
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
    clip-path: polygon(0 0, 100% 0, 0 100%);
}

.angle5, .angle5:after {
    height: 80px;
    width: 100%;
}

.angle4:after {
    content: '';
    position: absolute;
}





